<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Template || WEB 120 || Cafe Lopi</title>
<!-- Begin meta -->
 <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<!-- Remy Sharp Shim --> 
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script> 
<![endif]-->
<!-- Stylesheet goes here -->
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="css/flexslider.css" rel="stylesheet" type="text/css" />
<!-- End Styles -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
<!-- Begin Flex Slider -->
<script type="text/javascript">
$(window).load(function() { // enable function upon window load
$(".flexslider").flexslider(); // call flexslider function
});
</script>
<!-- End Flex Slider -->
<!-- Begin Toggle Menu -->
<script>
$(window).load(function() {// enable function upon window load
	$("#toggle").click(function () {// when toggle is clicked...
		$(".main").toggle();// ... open or close the navigation
	});
});
</script>
<!-- End Toggle Menu -->
</head>
<body>
<!-- Begin Header -->
<div id="mike">
<header id="header">
<div id="logo">
<!-- Begin Header -->
<a href="index.html"><img src="images/cafeK.png" alt="Cafe Kopi"/></a>
<img id="toggle" src="images/img-toggle.png" width="25" height="25"	alt="Toggle Menu">
</div>
<!-- End Header -->
<!-- Begin Navigation -->
<div class="navigationitems">
<nav id="mainnav" class="main">
<ul>
<li ><a href="index.html">Home</a></li>
<li ><a href="about.php">About Us</a></li>
<li ><a href="menu.html">Menu</a>
<ul>
<li class="current"><a href="breakfast.html">Breakfast</a></li>
<li class="current"><a href="#">Sandwiches</a></li>
<li class="current"><a href="#">Rice Bowl</a></li>
<li class="current"><a href="#">Cofee</a></li>
<li class="current"><a href="#">Fresh Juices</a></li>
<li class="current"><a href="#">Pastries and cookies</a></li>
<li class="current"><a href="#">Special of the day!</a></li>
</ul>
</li>
<li ><a href="#">Blog</a></li>
<li ><a href="contact.php">Contact Us</a></li>
</ul>
</nav>
</div>
<!-- End Navigation -->
<!-- Begin Content -->
</header>
</div>
<div id="breadcrumb"><a href="index.html">Home</a> > <a href="menu.html">Menu</a>
</div>  <!-- close breadcrumb -->
<div id="middle">
<!-- Begin Content -->
<div id="left_col">
<nav id="nav_side">
<ul>
<li><a href="menu.html">Menu</a></li>
<li><a href="breakfast.html">Breakfast</a></li>
<li><a href="#">Sandwiches</a></li>
<li><a href="#">Lunch</a></li>
<li><a href="#">Beverages</a></li>
<li><a href="#">Pastries</a></li>
</ul>
</nav>
</div> <!-- closed LEFT_DIV -->

<!-- Begin Content -->
<div id="spotlight">
<h2 class="menu">OMELETTES</h2>
<h3 class="menu">Don Juan</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
<h3 class="menu">Bacon, Ham or Sausage & Cheese</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
        
<h3 class="menu">Chef's</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
        
<h3 class="menu">Cheese</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
                
<h3 class="menu">Cheese</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
        
<h3 class="menu">Cheese</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
        
<h3 class="menu">Cheese</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
                
<h3 class="menu">Cheese</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
        
<h3 class="menu">Cheese</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
                        
<h3 class="menu">Cheese</h3>
<dl>
<dt>Chorizo, tomato, onion, eggs, spinach. Cheddar cheese and side of toast and fruits</dt>
<dd>$11.99</dd>
</dl>
           
</div>  
</div>  <!-- closed MIDDLE -->
<div class="clear">&nbsp;</div>

<!-- End Text -->
<!-- Begin Sidebar -->
<!-- End Sidebar -->

<!-- Begin Footer -->
<div id="footer">
<footer id="foot">
<div id="footer_content">
<ul>
<li class="footer_title">Cafe Info</li>
<li>8056 Lake City Way NE</li>
<li>Seattle, WA, 98115 </li>
<li>(206) 523 - 6197</li>
<li><a href="#">cafekopi@gmail.com</a></li>
</ul>

<ul>
<li class="footer_title">Hours</li>
<li>Tuesday - Friday: <br />
7:00am - 5:00pm</li>
<li>Saturday - Sunday: <br />
8:00am - 3:00pm</li>
</ul>

<ul id="follow_us">
<li class="footer_title">Follow Us</li>
<li id="facebook"><a href="https://www.facebook.com/pages/Cafe-Kopi/870754269622769?ref=br_tf"><img src="images/Facebook-256.png" alt="Follow Us On Facebook" title="Facebook" /></a></li>
<li id="instagram"><a href="https://instagram.com/cafekopi_2014"><img src="images/Instagram.png" alt="Follow Us On Instagram" title="Instagram" /></a></li>
<li id="yelp"><a href="http://www.yelp.com/biz/caf%C3%A9-kopi-seattle-3"><img src="images/Yelp.png" alt="Follow Us On Yelp" title="Yelp" /></a></li>
</ul>

<ul class="footer_title">
<li class="footer_title">Inside Our Site</li>
<li><a href="template.php">Home</a></li>
<li><a href="about.php">About Us</a></li>
<li><a href="menu.php">Menu</a></li>
<li><a href="blog.php">Blog</a></li>
<li><a href="contact.php">Contact Us</a></li>
</ul>
        
<div class="clear">&nbsp;</div>
</div> <!--closed footer_content -->
<ul>
<li class="footer_title">&copy;2015 Cafe Kopi. All rights reserved.</li>
<li class="footer_title"> <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> and <a href="http://validator.w3.org/check/referer">Valid HTML5</a></li>
</ul>
<!-- End Footer -->
</footer>
</div>

</body>
</html>
